[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
moto = "*"
pytest-cov = "*"
coveralls = "*"
flake8 = "*"

[packages]
apache-airflow = {extras = ["celery", "crypto", "password", "postgres"],version = "~=1.10.14"}
click = "*"
redis = "*"
jmespath = "*"
colorama = "*"
psycopg2-binary = "*"
boto3 = "*"
marshmallow-sqlalchemy = "~=0.23.0" ## This fixes a transitive dependency problem with airflow. Remove this line when upgrading airflow beyond 1.10.12

[requires]
python_version = "3.8"

[scripts]
workflow = "python -c \"from manager.cli import main; main()\""
