[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
moto = "*"
pytest-cov = "*"
coveralls = "*"
flake8 = "*"

[packages]
apache-airflow = {extras = ["celery", "crypto", "password", "postgres"],version = "~=2.2.4"}
click = "*"
redis = "*"
jmespath = "*"
colorama = "*"
psycopg2-binary = "*"
boto3 = "*"

[requires]
python_version = "3.8"

[scripts]
workflow = "python -c \"from manager.cli import main; main()\""
